[submodule "awesome-copycats"]
	path = awesome-copycats
	url = git://github.com/copycat-killer/awesome-copycats.git
[submodule "yawn"]
	path = yawn
	url = https://github.com/copycat-killer/yawn.git
[submodule "vicious"]
	path = vicious
	url = http://git.sysphere.org/vicious
[submodule "tyrannical"]
	path = tyrannical
	url = https://github.com/Elv13/tyrannical.git
